@()

@main("ListRemaðe") {
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <h1>Witamy w modyfikatorze list!</h1>
  <h2>Produkty</h2>
  <p>Odbierz listę produktów</p>
  <form action="/pga" method="get">
    <button type="submit" onclick="pgetall()">Odbierz całą listę</button>
  </form>
  <p>Odbierz jeden element</p>
  <form id="getForm" method="get">
    <input type="number" id="pid" name="pid" placeholder="ID elementu do otrzymania">
    <button type="submit">Odbierz element</button>
  </form>
  <script>
          document.getElementById('getForm').onsubmit = function() {
            var pid = document.getElementById('pid').value;
            this.action = "/pgetone/" + pid;
          };
  </script>
  <p>Usuń element</p>
  <form action="/pdid">
    <input type="text" name="prid" placeholder="ID elementu do usunięcia">
    <button type="submit">Usuń element</button>
  </form>
  <p>Dodaj element</p>
  <form id="pro" action="/pcrea" method="post">
    <input type="text" name="pname" placeholder="Nazwa produktu">
    <input type="text" name="pprice" placeholder="Cena produktu">
    <input type="text" name="pman" placeholder="Producent">
    <button type="submit">Dodaj element</button>
  </form>
  <p>Modyfikuj element</p>
  <form action="/pmid" method="get">
    <input type="text" name="pname" placeholder="Nowa nazwa produktu">
    <input type="text" name="pprice" placeholder="Nowa cena produktu">
    <input type="text" name="pman" placeholder="Nowy producent">
    <input type="text" name="pmid" placeholder="Indeks produktu">
    <button type="submit">Zmodyfikuj element</button>
  </form>
  <h2>Kategorie</h2>
  <p>Odbierz listę kategorii i przynależnych produktów</p>
  <form action="/pca" method="get">
    <button type="submit" onclick="cgetall()">Odbierz całą listę</button>
  </form>
  <p>Odbierz jeden element</p>
  <form id="getFormEins" method="get">
    <input type="number" id="cid" name="cid" placeholder="ID elementu do otrzymania">
    <button type="submit">Odbierz element</button>
  </form>
  <script>
          document.getElementById('getFormEins').onsubmit = function() {
            var cid = document.getElementById('cid').value;
            this.action = "/cgetone/" + cid;
          };
  </script>
  <p>Dodaj element</p>
  <form action="/ccrea" method="post">
    <input type="text" name="cname" placeholder="Nazwa kategorii">
    <button type="submit">Dodaj element</button>
  </form>
  <h2>Koszyki</h2>
  <p>Odbierz listę koszyków i przynależnych produktów</p>
  <form action="/pba" method="get">
    <button type="submit" onclick="bgetall()">Odbierz całą listę</button>
  </form>
  <p>Odbierz jeden element</p>
  <form id="getFormZwei" method="get">
    <input type="number" id="bid" name="bid" placeholder="ID elementu do otrzymania">
    <button type="submit">Odbierz element</button>
  </form>
  <script>
          document.getElementById('getFormZwei').onsubmit = function() {
            var bid = document.getElementById('bid').value;
            this.action = "/bgetone/" + bid;
          };
  </script>
  <p>Dodaj element</p>
  <form action="/bcrea" method="post">
    <input type="text" name="bname" placeholder="Nazwa użytkownika">
    <button type="submit">Dodaj element</button>
  </form>
}
